.basic-info-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
  align-content: start;
}

.right-aligned-icon {
  position: relative;
  display: inline-block;
  width: 100%;
}

.right-aligned-icon svg {
  position: absolute;
  right: 10px;
  top: 43%;
  color: gray; /* Adjust icon color */
  pointer-events: none;
}
